<h1>
  This works</h1>
{%schema%}
  {
    "name": "liquid-ref",
    "settings": [
      {
        "id": "liquid-ref",
        "type": "text",
        "label": "a reference"
      }
    ],
    "template": [
      "index", "page", "product"
    ],
    "presets": [
      {
        "name": "liquid reference",
        "category": "reference"
      }
    ]

  }
{%endschema%}}}}}}}}}